* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'TTLakes-Regular';
    src: url('../../fonts/TTLakes-Regular.ttf');
}

@font-face {
    font-family: 'TTLakes-Bold';
    src: url('../../fonts/TTLakes-Bold.ttf');
}

@font-face {
    font-family: 'TTLakes-Medium';
    src: url('../../fonts/TTLakes-Medium.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'TTLakes-Regular',sans-serif;
}

.page {
    position: relative;
    max-width: 1120px;
    margin: auto;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 18.59px 16px 17.59px 16px;
    border-bottom: 1px solid #D9FFF5;
}

@media (min-width: 1120px) {
    .page-header {
        display: none;
    }
}

@media (min-width: 768px) {
    .page-header {
        padding: 18.59px 24px 17.59px 24px;
    }
}

.round-icon {
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-size: 0;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.round-icon:hover {
    filter: opacity(65%);
    background-color: #e0356c;
}

.round-icon--burger {
    background-image: url('../icons/icon.svg');
    background-position: 11px 12px;
}

@media (min-width: 768px) {
    .round-icon--burger {
        gap: 20px;
    }
}

.page-header__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

@media (min-width: 768px) {
    .page-header__logo::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        margin-right: 20.73px;
        background-color: #EAEAEA;
    }
}

.logo {
    min-width: 96.55px;
}

.page-header__social-buttons {
    display: none;
}

@media (min-width: 768px) {
    .page-header__social-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 16px;
    }
}

@media (min-width: 768px) {
    .round-icon--call {
        background-image: url("../icons/call.svg");
        background-position: 11.04px 11.04px;

    }
    .round-icon--chat {
        background-image: url("../icons/Chat.svg");
        background-position: 10px 11px;
    }
    .round-icon--profile {
        background-image: url("../icons/profile.svg");
        background-position: 10px 10px;
    }
}

.page-header__account-menu::before {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
}

.account-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

@media (min-width: 1120px) {
    .account-menu {
        gap: 32px;
    }
}

.round-icon.round-icon--order {
    background-image: url('../icons/Group.svg');
    background-position: 10px 10px;
}

.round-icon.round-icon--status {
    background-image: url('../icons/status.svg');
    background-position: 12px 10px;
}

.page-main {
    display: block;
    padding-top: 1px;
    padding-bottom: 40px;
    background-color: #F8F8F8;
}

.page-main__header {
    margin-top: 24px;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .page-main__header {
        margin-bottom: 32px;
    }
}

@media (min-width: 1120px) {
    .page-main__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 32px;
        margin-bottom: 16px;
    }
}

.page-main__main-title {
    padding-left: 16px;
    margin: 0;
    font-family: 'TTLakes-Bold',sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}

@media (min-width: 768px) {
    .page-main__main-title {
        padding-left: 20px;
    }
}

@media (min-width: 1120px) {
    .page-main__main-title {
        padding-left: 30px;
    }
}

.page-main__main-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    left: 0;
    background-image: url('../icons/highlight.svg');
}

@media (min-width: 1120px) {
    .page-main__main-title::before {
        width: 3px;
        background-image: url('../icons/highlight (1120).svg');
    }
}

.page-main__account-menu {
    display: none;
}
@media (min-width: 1120px) {
    .page-main__account-menu {
        display: flex;
    }
}

.account-menu__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
    gap: 9px;
}

.nav-panel {
    position: relative;
}

.navigation::before {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height:40px;
    pointer-events: none;
    z-index: 1;
    left: 0;
}

.nav-panel::before,
.nav-panel::after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 40px;
    pointer-events: none;
    z-index: 1;
}
.nav-panel::before{
    left: 0;
    background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.0001));
}

.nav-panel::after {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248, 1),rgba(248, 248, 248, 0.0001));
}

.navigation {
    overflow: auto;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.navigation::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.page-main__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 24px;
    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .page-main__navigation {
        padding-left: 24px;
        padding-bottom: 32px;
    }
}
@media (min-width: 768px){
    .page-main__navigation {
        padding-bottom: 16.22px;
    }
}
@media (min-width: 1120px) {
    .navigation {
        gap: 0 16px;
        flex-wrap: wrap;
    }
    .navigation::-webkit-scrollbar {
        display: none;
    }
}

.navigation__link {
    padding: 8px 9.38px 8px 16.67px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #7E7E82;
    white-space: nowrap;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.navigation__link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

@media (min-width: 768px) {
    .about-us {
        display: flex;
        margin-left: 24px;
        margin-right: 25px;
    }
}

@media (min-width: 1120px) {
    .about-us {
        display: flex;
        margin-left: 34px;
        margin-right: 28.65px;
    }
}

.page-main__about-us {
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .page-main__about-us {
        margin-bottom: 40px;
        gap: 48px;
    }
}

@media (min-width: 1120px){
    .page-main__about-us {
        gap: 36px;
    }
}

.about-us__text-content {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .about-us__text-content {
        margin: 0;
    }
}

.about-us__text {
    margin-top: 0;
    margin-bottom: 16px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
    color: #1B1C21;
}

@media (min-width: 768px) {
    .about-us__text {
        height: 160px;
        line-height: 20px;
    }
}

.directions-link {
    display: inline-flex;
    align-items: center;
    font-family: 'TTLakes-Medium',sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
    border: none;
    background-color: #F8F8F8;
}

.directions-link::before {
    content: '';
    display: inline-block;
    width: 7.41px;
    height: 10.29px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-image: url('../icons/readmore.svg');
}

.about-us img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 320px;
    border: 2px solid #FFFFFF;
}

@media (min-width: 768px) {
    .about-us img {
        align-self: flex-start;
        height: 208px;
        width: 360px;
        border: none;
    }
}

@media (min-width: 1120px) {
    .about-us img {
        height: 307px;
        width: 531.35px;
        border: none;
    }
}

.open-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    z-index: 100;
    background-color: #FFFFFF;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}
.open-menu__header {
    display: flex;
    align-items: center;
    padding: 18.73px 24px 46.27px;
    gap: 16.73px;
}

.round-icon--close {
    background-image: url('../icons/close.svg');
    background-position: center center;
}

.open-menu__logo{
    margin-right: auto;
}

.round-icon--search {
    background-image: url('../icons/search.svg');
    background-position: center center;
}


.open-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.open-menu__navigation {
    margin-bottom: auto;
}

.open-navigation__link {
    display: block;
    padding-left: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.open-navigation__link--active::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 32px;
    top: 116px;
    left: 0;
    background-image: url('../icons/highlight (3).svg');
}

.open-navigation__link:hover{
    color: #7E7E82;
}

.social-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.round-icon--call {
    background-image: url("../icons/call.svg");
    background-position: 11.04px 11.04px;
}

.round-icon--chat {
    background-image: url("../icons/Chat.svg");
    background-position: 10px 11px;
}

.round-icon--profile {
    background-image: url("../icons/profile.svg");
    background-position: 10px 10px;
}


.open-menu__contacts {
    padding-left: 24px;
}

.open-contacts__email {
    display: block;
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.open-contacts__phone {
    display: block;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: 'TTLakes-Bold', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #1B1C21;
}

.languages-list {
    display: flex;
    padding-left: 24px;
    margin-bottom: 32px;
    gap: 7px;
}

.languages-list__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #1B1C21;
}

.languages-list__link:hover{
    color: #7E7E82;
}

.brands {
    border-top: 1px solid #D9FFF5;
    background-color: #F8F8F8;
    padding-left: 16px;
    height: 100vh;
    position: fixed;
    inset: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .brands {
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .brands {
        padding-left: 32px;
    }
}

.brands__title {
    display: block;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    color: #7E7E82;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 16px 0;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .brands__title {
        margin-bottom: 24px;
    }
}

.splide {
    overflow: visible;
    margin-bottom: 38px;
}

.splide__track {
    width: 100%;
    overflow: visible;
}

.splide__track::after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 81px;
    pointer-events: none;
    z-index: 1;
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248, 1),rgba(248, 248, 248, 0.0001));
}

@media (min-width: 768px) {
    .splide__track::after {
        display: none;
    }
}

@media (min-width: 768px) {
    .splide__list {
        display: grid;
        grid-template-columns: repeat(3, 224px);
        gap: 16px 24px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1120px) {
    .splide__list {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        gap: 16px 32px;
        margin-bottom: 34px;
    }
}

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    height: 72px;
}

.slide-1 {
    gap: 60px;
}

@media (min-width: 768px) {
    .slide-1 {
        gap: 44px;
    }
}

.slide-2 {
    gap: 52px;
}
@media (min-width: 768px) {
    .slide-2 {
        gap: 36px;
    }
}

.slide-3 {
    gap: 124px;
}
@media (min-width: 768px) {
    .slide-3 {
        gap: 108px;
    }
}

.slide-4 {
    gap: 42px;
}
@media (min-width: 768px) {
    .slide-4 {
        display: none;
    }
}

.slide-5 {
   gap: 40px;
}
@media (min-width: 768px) {
    .slide-5 {
        gap: 24px;
    }
}

.slide-6 {
    gap: 122px;
}
@media (min-width: 768px) {
    .slide-6 {
        gap: 106px;
    }
}

.slide-7 {
    gap: 74px;
}
@media (min-width: 768px) {
    .slide-7 {
        gap: 58px;
    }
}

.slide-8 {
    gap: 42px;
}

@media (min-width: 768px) {
    .slide-8 {
        display: none;
    }
}

.slide-9 {
    gap: 60px;
}
@media (min-width: 768px) {
    .slide-9 {
        display: none;
    }
}

.slide-10 {
    gap: 52px;
}

@media (min-width: 768px) {
    .slide-10 {
        display: none;
    }
}

.slide-11 {
    gap: 124px;
}

@media (min-width: 768px) {
    .slide-11 {
        display: none;
    }
}

@media (min-width: 1120px) {
    .slide-1 {
        gap: 60px;
    }

    .slide-2 {
        gap: 52px;
    }

    .slide-3 {
        gap: 124px;
    }

    .slide-4 {
        gap: 42px;
        display: flex;
    }

    .slide-5 {
        gap: 40px;
    }

    .slide-6 {
        gap: 122px;
    }

    .slide-7 {
        gap: 74px;
    }

    .slide-8 {
        gap: 42px;
        display: flex;
    }

    .slide-9 {
        gap: 60px;
        display: flex;
    }

    .slide-10 {
        gap: 52px;
        display: flex;
    }

    .slide-11 {
        gap: 124px;
        display: flex;
    }
}

.slider__navigation {
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-size: 0;
    border: 2px solid #FF3E79;
    cursor: pointer;
    background-image: url("../icons/dropdown.svg");
    background-position: center center;
}

.splide__pagination {
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 16px;
    gap: 12px;
}

@media (min-width: 768px) {
    .splide__pagination {
        display: none;
    }
}

.splide__pagination__page {
    background-color: #DDDDDD;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0;
    transition: background-color 0.3s ease;
}

.splide__pagination__page.is-active {
    transform: scale(1);
    background-color: #B5B6BC;
}


.directions-link {
    display: none;
}

@media (min-width: 768px) {
    .directions-link {
        display: inline-flex;
    }
    .directions-link::before {
        margin-right: 17.29px;
    }
}